/********************************************************
 * About page
 */

@media (max-width: 576px) {
	.full-width-xs {
		width: 100%;
	}
}


/* Footer */
.footer-dark {
	margin-top: 2rem;
	padding: 30px 0;
	background-color: #343a40;
	color: white;
	min-height: 255px;
}

.footer-dark a:not(.btn) {
	color: #79b9ff;
}



/********************************************************
 * Sketch map page
 */

/* General */
.mode-nav .mode-draw-only,
.mode-draw .mode-nav-only {
	display: none;
}

#loader {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 10100;
	background-color: rgba(0,0,0,0.5);
}

/* Map */
#map {
	position: absolute;
	right: 0;
	left: 0;
	top: 55px;
}

.mode-nav #map {
	bottom: 0;
}

.mode-draw #map {
	bottom: 55px;
}

.leaflet-bar span.fa {
	line-height: 30px;
}

/* Menus */
.menu-dark {
	background-color: #222;
	color: white;
}

.menu-mask {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 9999;
}

#top-menu {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	height: 55px;
}

#bottom-menu {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	height: 55px;
}

.mode-nav #bottom-menu {
	display: none !important;
}

#left-menu nav {
	padding: 10px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 300px;
	max-width: 80%;
	z-index: 10000;
	background-color: #fafafa;
	color: #555;
}

#left-menu h1 {
	font-size: 1.8rem;
}

#left-menu li a {
	color: #555;
	font-size: 1.1rem;
	cursor: pointer;
}

#left-menu li a i.fa {
	margin-right: 10px;
}

#left-menu li a:hover {
	background-color: #eee;
}

.btn-action {
	position: absolute;
	right: 10px;
	bottom: 25px;
	z-index: 1040;
	width: 70px;
	height: 70px;
	border-radius: 35px;
	line-height: 60px;
	font-size: 25px;
}

#btn-valid {
	bottom: 75px;
}

@media (max-width: 576px) {
	#bottom-menu {
		height: 100px;
	}

	.mode-draw #map {
		bottom: 100px;
	}

	#btn-valid {
		bottom: 120px;
	}
}


/* Color picker */
.btn-dark:not(:disabled):not(.disabled).active {
	background-color: #797f83;
	border-color: #797f83;
}

.btn-color {
	border: 1px solid white;
	border-radius: 18px;
	background: none;
	width: 35px;
	height: 35px;
	cursor: pointer;
}

.btn-color.btn-color-selected {
	width: 45px;
	height: 45px;
	border-radius: 23px;
}

.color-picker-color {
	width: 35px;
	height: 35px;
	border-radius: 18px;
	border: 3px solid black;
}

#btn-color {
	background-image: url('img/rainbow.svg');
	background-size: contain;
}

/* Background picker */
.modal-xxl {
	max-width: 80%;
}

#background-picker .card {
	width: 130px;
	margin: 5px;
	font-size: 0.7em;
	cursor: pointer;
}

#background-picker .card-img-top {
	height: 65px;
	background-color: white;
}

@media (max-width: 576px) {
	#background-picker .card {
		width: 85px;
		height: 85px;
	}
	#background-picker .card-body {
		display: none;
	}
	#background-picker .card-img-top {
		height: auto;
	}
}

.card-selected {
	background-color: #4b92e7;
	color: white;
	text-align: center;
	border: 5px solid #1b6dd0;
}
